extends layout

block content
  h1= title
  form#formAddUser(name="adduser",method="post",action="/adduser")
    input#inputUserFirstname(type="text", placeholder="first name", name="firstname")
    input#inputUserLastname(type="text", placeholder="lastname", name="lastname")
    button#btnSubmit(type="submit") submit
        